{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> 
    <link href="{% static 'css/CssRegistros.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-dark" style="background-color: #113a5d;">
    <div class="container-md">
      <a class="navbar-brand" href="{% url 'index' %}">MULTISERVICIOS</a>
    </div>
  </nav>

    <div class="wrapper">
    <section class="bg-image"
    <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-14 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">CREAR UNA CUENTA</h2>

              <form action="" method="post">
                {% csrf_token %}
                
                {% if form.errors %}
                        <p>Alguno de los campos es invalido</p>
                    {% endif %}
                
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg"><strong>Nombre:</strong></label><br>
                  {{form.username}}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg"><strong>Email:</strong></label><br>
                  {{form.email}}
                </div>
                  
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg"><strong>Contraseña:</strong></label><br>
                  {{form.password1}}
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"><strong>Confirmar contraseña:</strong></label><br>
                    {{form.password2}}
                  </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    Acepto todos los <u>términos y condiciones</u> del sitio y el manejo de mis datos personales. <a href="#!" class="text-body"></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrar</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">¿Ya tienes una cuenta? <a href="{% url 'login' %}"
                    class="fw-bold text-body"><u>Inicia sesión</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

    <div class="objects">
        <ul class="box">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>