.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

.container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.objects{
    background: linear-gradient(to right, #2e79b0, #9cf7dd);
    width: 100%;
    height: 130vh;
}

input{
    width: 100%;
}

.box{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130%;
    overflow: hidden;
}

.box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 50px; 
    height: 200px;
    background: rgb(255, 255, 255);
    animation: animate 15s linear infinite;
    bottom: -150px;
    border-radius: 150%;
}

.box li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 2.5s;
    animation-duration: 10s;
}

.box li:nth-child(3){
    left: 70%;
    width: 90px;
    height: 90px;
    animation-delay: 3.5s;
    animation-duration: 4.5s;
}

.box li:nth-child(4){
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 3s;
}

.box li:nth-child(5){
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
}

.box li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 1.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) scale(1);
    }

    100%{
        transform: translateY(-900px) scale(5);
        opacity: -5;
    }
}
    
